.post{
    padding: 20px;
    width:100%;
    margin:20px;
    border-radius: 20px;
    display: inline-block;
}

#middle{
    margin: auto;
    margin-top: 140px;
    width: 50%;
}

#picker{
    display:none;
}

#hiddenForm{
    display:none;
}

#header{
    top:0;
    width:100%;
    background-color: bisque;
    position:fixed;
    margin:0;
    height: 120px;
    padding: 5px;
    box-sizing: border-box;
}

#sidebar{
    left:0;
    height:100%;
    position:fixed;
    margin:0;
    background-color: burlywood;
    width:15%;
    box-sizing: border-box;
}

body{
    margin:0;
}

.post_text{
    font-size: 120%;
    text-align: start;
    width: 75%;
    float:right;
}

.post_author{
    float: left;
    width: 10%;
}

.post_date{
    float: right;
    width: 15%;
}

.paint{
    width:100%;
}