.post{
    width:100%;
    margin:20px;
    border-radius: 20px;
    display: inline-block;
    background-color: #f4f4f2;
    overflow: hidden;
    border: 2px solid #495464;
    transition: transform 1.5s, opacity 1.25s;
    transform: translateX(0);
    opacity: 1;
}

#middle{
    margin: auto;
    margin-top: 160px;
    width: 50%;
}

#picker{
    display:none;
    margin:auto;
    width:200px;
}

#hiddenForm{
    display:none;
}

#header{
    top:0;
    width:100%;
    background-color: #bbbfca;
    position:fixed;
    margin:0;
    min-height: 80px;
    padding: 5px;
    z-index: 50;
    display: table;
}

#sidebar{
    left:0;
    height:100%;
    position:fixed;
    margin:0;
    background-color: #bbbfca;
    width:15%;
}

body{
    margin:0;
    font-family: 'Quattrocento', serif;
    background-color: #e8e8e8;
}

.post_text{
    font-size: 20px;
    text-align: start;
    width: 100%;
    float:right;
    display: block;
    min-height: 20px;
}

.post_author, .post_date, .post_count{
    float: left;
    margin-right: 10px;
    min-width: 100px;
}

.post_buttons{
    float:right;
}

.post_buttons > *{
    cursor: pointer;
    font-size: 36px !important;
}

.post_header{
    width:100%;
    min-height: 20px;
    overflow-y: auto;
    padding: 10px;
}

.post_shift{
    width:100%;
    min-height: 10px;
    float:left;
}

.post_body{
    width: 100%;
    overflow: auto;
    min-height: 40px;
    padding: 10px;
    border-top: 2px solid #495464;
    transition: background-color 0.5s;
}

.post_deleted{
    transform: translateX(100vw);
    opacity:0;
}

*{
    box-sizing: border-box;
}

.title{
    width:100%;
    min-height: 50px;
    text-align: center;
}

.navbar{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
}

#dropdown-content{
    display: none;
    width: 100%;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 5;
    height: 220px;
}

.navbar > .navitem{
    float: left;
    display: block;
    background-color: #e8e8e8;
    padding: 14px;
    font-size: 17px;
    height:48px;
}

.navbar > .navitem, .navbar > .navitem:visited, .navbar > .navitem:hover, .navbar > .navitem:active{
    text-decoration: none;
    color:inherit;
    cursor: pointer;
}

.navbar > .navitem:hover{
    background-color: #495464;
    color: #e8e8e8;
}

.signUp{
    grid-area: span 1 / span 2;
}

h2{
    margin: 10px;
    width: 100%;
    text-align:center;
}


input, button, textarea{
    font-family: inherit;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display:block;
}
input[type=text],input[type=password],input[type=email], textarea{
    width:95%;
    clear:both;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #495464;
}

input[type=checkbox]{
    width:25px;
    height:25px;
}

label{
    margin: 5px;
}

.logoimage{
    height:100px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto
}

.logoholder{
    width:100%;
    height:100px;
}

.pageid{
    float:left;
    padding: 5px;
    text-align: center;
    height: 100%;
}

.post_image{
    width:100%;
    padding: 20px;
}

#footer-container{
    width: 100%;
    height: 100px;
    overflow: auto;
    display: flex;
    justify-content: space-evenly;
}

.footer {
    width: 80%;
    padding: 10px;
    text-align: center;
    display: block;
}

.footer-left{
    order: -2;
}

.footer-mid{
    order: 0;
}

.footer-right{
    order: 2;
}