{% load static %}
<html>
    <head>
    <title>HueShift</title>
    <link rel="stylesheet" href="{% static 'feed/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
    <script src={% static 'feed/colourpick.js' %}></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    </head>
    <body>
    <div id="header">
    <h1 class="title"><a href='{% url 'index' %}'>HueShift</a></h1>
    <div class="navbar">
    {% if user.is_authenticated %}
        <a class="navitem" href='{% url 'artist' user.username %}'>{{ user.username }}</a>
        <a class="navitem" href = "{% url 'logout' %}" class='buttonLink'>Log out</a>
        <a class="navitem" href = "{% url 'makepiece' %}" class='buttonLink'>Make a Piece</a>
    {% else %}
        <a class="navitem" href = "{% url 'login' %}" class='buttonLink'>Log in</a>
        <a class="navitem" href = "{% url 'signup' %}" class='buttonLink'>Sign up</a>
    {% endif %}
        <div class="navitem clickWheel dropWheel" id="dropdown-control"><span class="material-icons-outlined" id="dropdown-icon">search</span></div>
        <div class="navitem" id="dropdown-content"></div>
    </ul>
    </div>
    </div>
    <div id="middle">
    {% block content %}
    {% endblock %}
    </div>
    <div id="picker"></div>
    </body>
</html>