{% load static %}
<html>
    <head>
    <title>HueShift</title>
    <link rel="stylesheet" href="{% static 'feed/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
    <script src={% static 'feed/colourpick.js' %}></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    </head>
    <body>
    <div id="header">
    <h1 class="title"><a href='{% url 'index' %}'>HueShift</a></h1>
    <ul class="navbar">
    {% if user.is_authenticated %}
        <li><a href='{% url 'artist' user.username %}'>{{ user.username }}</a></li>
        <li><a href = "{% url 'logout' %}" class='buttonLink'>Log out</a></li>
        <li><a href = "{% url 'makepiece' %}" class='buttonLink'>Make a Piece</a></li>
    {% else %}
        <li><a href = "{% url 'login' %}" class='buttonLink'>Log in</a></li>
        <li><a href = "{% url 'signup' %}" class='buttonLink'>Sign up</a></li>
    {% endif %}
    </ul>
    </div>
    <div id="sidebar">
    {% block sidebar %}{% endblock %}
    </div>
    <div id="middle">
    {% block content %}
    {% endblock %}
    </div>
    <div id="picker"></div>
    </body>
</html>