{% load static %}
<html>
    <head>
    <title>HueShift</title>
    <link rel="stylesheet" href="{% static 'feed/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
    <script src={% static 'feed/colourpick.js' %}></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento&display=swap" rel="stylesheet">
    </head>
    <body>
    <div id="header">
    <h1><a href='{% url 'index' %}'>HueShift</a></h1>
    <div class="hbox">
    {% if user.is_authenticated %}
        {{ user.username }}, <a href = "{% url 'logout' %}">Log out</a>
        <a href = "{% url 'makepiece' %}">Make a Piece</a>
    {% else %}
        <a href = "{% url 'login' %}">Log in</a>
        <a href = "{% url 'signup' %}">Sign up</a>
    {% endif %}
    </div>
    </div>
    <div id="sidebar">
    {% block sidebar %}{% endblock %}
    </div>
    <div id="middle">
    {% block content %}
    {% endblock %}
    </div>
    <div id="picker"></div>
    </body>
</html>