{% extends "feed/base.html" %}

{% block content %}
{% if post_list %}
    <form id="hiddenForm" method="post" onsubmit = "return false">
        {% csrf_token %}
        <input type="hidden" name="pid" value="{{ post.post_id }}"/>
        <input type="hidden" name="hue" value="-1"/>
    </form>
    {% for post in post_list %}
    <div class="post" data-postid="{{ post.post_id }}" style="background-color: hsl({{ post.hue }},100%,50%)">
        <div class="post_author"><a href = '{% url 'artist' post.author.username %}' >{{ post.author.username }}</a></div>
        <div class="post_date">{{ post.date_posted|date:"j/n/y H:i"}}</div>
        <div class="post_text">{{ post.body_text }}</div>
        <button class="paint" onClick="paintClick(this)">Paint</button>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}

{% block sidebar %}
hueshift :)
{% endblock %}