{% extends "feed/base.html" %}

{% block content %}
{% if post_list %}
    <form id="hiddenForm" method="post" onsubmit = "return false">
        {% csrf_token %}
        <input type="hidden" name="pid" value="{{ post.post_id }}"/>
        <input type="hidden" name="hue" value="-1"/>
        <input type="hidden" name="action" value="shift"/>
    </form>
    {% for post in post_list %}
    <div class="post" data-postid="{{ post.post_id }}">
        <div class="post_header">
            <div class="post_author"><a href = '{% url 'artist' post.author.username %}' >{{ post.author.username }}</a></div>
            <div class="post_date">{{ post.date_posted|date:"j/n/y H:i"}}</div>
            <div class="post_count">{{ post.vote_set.count }} shift{{ post.vote_set.count|pluralize }}</div>
            <div class="post_buttons">
                {% if post.author == user%}
                    <span class="material-icons-outlined" onClick="deletePost(this)">delete</span>
                {% endif %}
                <span class="material-icons material-icons-outlined clickWheel md-48" onClick="paintClick(this)">palette</span>
            </div>
        </div>
        <div class="post_body" style="background-color: hsl({{ post.hue }},100%,50%)">
            {% if post.has_image %}
                <img class="post_image" src='{{ post.image_url }}'/>
            {% endif %}
            <div class="post_text">{{ post.body_text }}</div>
            <div class="post_shift"></div>
        </div>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}

{% block pageid %}{% endblock %}

{% block footerleft %}
<a class="post footer footer-left" href='{{ request.path }}?page={{ pagenum|add:"-1" }}'>
    Previous Page
</a>
{% endblock footerleft %}

{% block footerright %}
<a class="post footer footer-right" href='{{ request.path }}?page={{ pagenum|add:"1" }}'>
    Next Page
</a>
{% endblock footerright %}